@page "/"

<PageTitle>Home</PageTitle>

<h1>Здравствуйте, гость!</h1>

<pre>
    @("Вы находитесь на странице \"Визитка\"\nМеня зовут Андрей. Я вечный студент, который хочет стать программистом.\nСвязь со мной:\nmob: 0845-58-23-00-1\nmail: blazor@mail.com")
</pre>